<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h1 class="title-lv1 border-bottom margin-bottom">Informations personnelles</h1>
      <div class="profile-form-container form-inline">
        <%= simple_form_for (@user) do |f| %>

            <%= f.input :first_name, label_html: {class: "label-profile-form"}, input_html: {class: "input-profile-form"}, label: "Prénom" %>
            <%= f.input :last_name, label_html: {class: "label-profile-form"}, input_html: {class: "input-profile-form"}, label: "Nom" %>
            <%= f.input :position, label_html: {class: "label-profile-form"}, input_html: {class: "input-profile-form"}, label: "Position" %>

            <%= f.input :email, label_html: {class: "label-profile-form"}, input_html: {class: "input-profile-form"}, required: true, autofocus: true %>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <%= f.input :office_phone, label_html: {class: "label-profile-form"}, input_html: {class: "input-profile-form"}, label: "Tel bureau" %>
            <%= f.input :mobile_phone, label_html: {class: "label-profile-form"}, input_html: {class: "input-profile-form"}, label: "Portable" %>

      </div>
    </div>


    <div class="col-xs-12 col-md-6">

      <h1 class="title-lv1 border-bottom margin-bottom">Informations de la société</h1>
      <div class="profile-form-container form-inline">
         <%= f.input :company, label_html: {class: "label-profile-form"}, input_html: {class: "input-profile-form"}, label: "société" %>
          <%= f.input :address, label_html: {class: "label-profile-form"}, input_html: {class: "input-profile-form"}, label: "adresse" %>
          <%= f.input :radius, label_html: {class: "label-profile-form"}, input_html: {class: "input-profile-form"}, label: "rayon d'activité" %>

          <%= f.input :description, label_html: {class: "label-profile-form"}, input_html: {class: "description-input-profile-form"}, label: "description" %>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h1 class="title-lv1 border-bottom margin-bottom">Visuels entreprises</h1>
        <div class="profile-form-container form-inline">
          <%= f.input :photo_company_logo, as: :attachinary, label_html: {class: "attachinary_container"}, input_html: {class: "input-profile-form"}, label: "logo" %>
          <%= f.input :photo_presentation, as: :attachinary %>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <h1 class="title-lv1 border-bottom margin-bottom">Visuels chantiers</h1>
        <div class="profile-form-container form-inline">
          <%= f.input :photos_projet_1, as: :attachinary %>
          <%= f.input :photos_projet_2, as: :attachinary, label_html: {class: "attachinary_container"}, input_html: {class: "input-profile-form"}, label: "photo 2" %>
          <%= f.input :photos_projet_3, as: :attachinary %>
          <%= f.input :photos_projet_4, as: :attachinary %>
        </div>
    </div>
  </div>


    <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>

    <%= f.input :photo_company_logo, as: :attachinary %>
    <%= f.input :photo_presentation, as: :attachinary %>
    <%= f.input :photos_projet_1, as: :attachinary %>
    <%= f.input :photos_projet_2, as: :attachinary %>
    <%= f.input :photos_projet_3, as: :attachinary %>
    <%= f.input :photos_projet_4, as: :attachinary %>
  </div>

  <div class="row">
    <div class="col-xs-12">

      <div class="form-actions">
        <%= f.button :submit, "Update" %>
      </div>
      <% end %>

    </div>
  </div>
</div>

<br>
<br>
<br>
<br>

<!-- JS Autocomplete -->
<%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyC0J8yKgp1HNvXsiK1_H_PCAz2f-D9Zq4Y"></script>
<% end %>


<!-- sauvegarde registration de base
 -->
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, autocomplete: "on", hint: "we need your current password to confirm your changes", required: true %>
    <%= f.input :photo_company_logo, as: :attachinary %>
    <%= f.input :photo_presentation, as: :attachinary %>
    <%= f.input :photos_projet_1, as: :attachinary %>
    <%= f.input :photos_projet_2, as: :attachinary %>
    <%= f.input :photos_projet_3, as: :attachinary %>
    <%= f.input :photos_projet_4, as: :attachinary %>
  </div>


  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
 -->
