<div class="col-md-3 hidden-xs nopadding ">
  <div class= "left-navigation-container">
    <div class="all-categories-articles">
      <span class="left-navigation-title">
        <h3>Dossiers</h3>
      </span>
      <p>Retrouvez toutes les infos... </p>

      <%= link_to "L’assainissement individuel", root_path, class: "yellow-link" %>
      <br>
      <%= link_to "Les procédés", root_path, class: "yellow-link" %>
      <br>
      <%= link_to "Les acteurs", root_path, class: "yellow-link" %>
      <br>
      <%= link_to "Les aides & subventions", root_path, class: "yellow-link" %>
      <br>
      <%= link_to "La législation", root_path, class: "yellow-link" %>
      <br>
      <%= link_to "L'environnement", root_path, class: "yellow-link" %>
      <br>

      <div class="left-navigation-call-to-action">
        <span class="left-navigation-title">
          <h3>Nos services</h3>
        </span>
          <p>Trouvez les principaux acteurs près de chez vous avec... </p>
          <h4>L'annuaire</h4>
        <div class="left-navigation-card-call-to-action">
          <%= simple_form_for(@client) do |f| %>
            <%= f.input :address, placeholder: "Lieu des travaux", label: "Entrez votre adresse"  %>
            <%= f.button :submit, "Rechercher" %>
           <% end %>
        </div>
        <br>
          <p>Trouvez la bonne solution gràce à notre... </p>
          <h4>Simulateur</h4>

          <div class= "left-navigation-button-call-to-action text-center">
            <%= link_to "Commencer", root_path, class: "main-cta"%>
          </div>
      </div>
    </div>
  </div>
</div>


<!-- JS Autocomplete -->
<%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyC0J8yKgp1HNvXsiK1_H_PCAz2f-D9Zq4Y"></script>
<% end %>
<!--  -->
