<h1>Code Guillaume show</h1>

<% @available_users.each do |user| %>

  <div class="container card_show_users_container">
    <div class="row">
      <div class="col-xs-12">
        <div class="card_show_users">
          <div class="card_logo">
            <% if user.photo_company_logo? %>
              <%= cl_image_tag user.photo_company_logo.path, width: 100, height: 100%>
              <% else %>
              <%= user.company %>
            <% end %>
          </div>
          <div class="card_photo_presentation">
            <% if user.photo_presentation? %>
              <%= cl_image_tag user.photo_presentation.path, width: 300, height: 200%>
            <% else %>
              <%= image_tag "construction_toit.jpg", width: 300, height: 200 %>
            <% end %>
          </div>
          <div class="card_informations_user">
            <h3><%= user.company %></h3>
            <h5><%= user.address %></h5>

          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>

<h1>Code Edouard Show : Il y a <%= @available_users.count %> professionnels qui correspondent à votre recherche</h1>

<% @available_users.each do |user| %>
  <p>société : <%= user.company %></p>
  <p>position : <%= user.position %></p>
  <p>prénom : <%= user.last_name %></p>
  <p>nom : <%= user.first_name %></p>
  <p>portable : <%= user.mobile_phone %></p>
  <p>fixe : <%= user.office_phone %></p>
  <p>email : <%= user.email %></p>
  <p>addresse : <%= user.address %></p>
  <p>description : <%= user.description %></p>
<% end %>


<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>

<%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyC0J8yKgp1HNvXsiK1_H_PCAz2f-D9Zq4Y"></script>
<% end %>
