
<h1 class="text-center">Bienvenue chez belles toitures</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">

      <%= simple_form_for(@client) do |f| %>
        <%= f.input :address, placeholder: "Lieu des travaux" %>
        <%= f.button :submit, "Rechercher des pros" %>
      <% end %>

      <br>
      <%= link_to users_path, class: "main-cta" do %>
        <span>Liste des pros</span>
      <% end %>
      <br>
      <br>
      <%= link_to edit_user_registration_path, class: "main-cta" do %>
        <span>edit pro</span>
      <% end %>
      <br>
      <br>
      <%= link_to new_client_path, class: "main-cta" do %>
        <span>Rechercher des pros près de chez moi</span>
      <% end %>
      <br>
      <br>
      <h3>Comprendre l'assainissement individuel</h3>
      <%= link_to comprendre_l_assainissement_individuel_path, class: "main-cta" do %>
        <span>Dossier</span>
      <% end %>
      <br>
      <br>
      <br>
      <h3>quel choix entre assainissement collectif et individuel</h3>
      <%= link_to quel_choix_pour_le_particulier_entre_assainissement_individuel_ou_collectif_path, class: "main-cta" do %>
        <span>article</span>
      <% end %>
      <br>
      <br>
      <h3>de quoi se compoase un assainisement individuel</h3>
 <%= link_to de_quoi_se_compose_un_assainissement_individuel_type_path, class: "main-cta" do %>
        <span>article</span>
      <% end %>
      <br>
      <br>
      <h3>cout</h3>
 <%= link_to quel_est_le_cout_global_d_une_fosse_septique_path, class: "main-cta" do %>
        <span>article</span>
      <% end %>
      <br>
      <br>
      <h3>contraintes</h3>
 <%= link_to quelles_sont_les_principales_contraintes_de_l_assainissement_individuel_path, class: "main-cta" do %>
        <span>article</span>
      <% end %>

      <br>
      <br>
      <h1>Comment fonctionne une fosse septique ?</h1>
 <%= link_to comment_fonctionne_une_fosse_septique_path, class: "main-cta" do %>
        <span>article</span>
      <% end %>
      <br>
      <br>
      <h1>Comment fonctionne l’épandage souterrain ?</h1>
 <%= link_to comment_fonctionne_l_epandage_souterrain_path, class: "main-cta" do %>
        <span>article</span>
      <% end %>




    </div>
  </div>
</div>



